/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body{
  font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Css start here */

/* Top nav */

.hr-color {
  background: #13C3EA;
}


.top-nav-container {
  padding-right: 0px;
  padding-left: 0px;
}


.bottom-line {
  border: .5px solid #13C3EA;
  width: 100%;
}

#navbarDropdownMenuLink {
  color: #13C3EA;
}


.dropdown-item {
  color: #00CCFF;
}


.dropdown-item:hover {
  color: #1088a7;
}


.top-nav-email {
  margin-right: 150px;
  margin-top: 10px;
  color: #00CCFF;
}

.social {
  color: #00CCFF;
  font-size: 18px;
  display: inline-block;
}

.social i {
  padding-left: 5px;
  padding-right: 5px;
}

/* Navbar */


.navbar-light .navbar-brand {
  color: #00CCFF;
  font-weight: bolder;
}


.navbar-light .navbar-nav .nav-link {
  color: #00CCFF;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #0099CC;
  border-bottom: 2px solid #0099CC;
  cursor: pointer;
}

/* Slider */
.section {
  padding-top: 70px;
  padding-bottom: 70px;
}


.slider-title {
  padding-bottom: 50px;
}


.btn {
  border-radius: 0px;

}


.tab-ul-bg {
  background: #00CCFF;
}

.border-none {
  border: none !important;
}


.m-form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #f4f6f9;
  background-color: transparent;
  background-clip: none;
  border: 1px solid #ced4da;
  border-radius: 0px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.nav-tabs .nav-link {
  border: none !important;

}

.form-control.m-form-control.border-none {
  padding-right: 0px;
  color: rgb(13, 167, 214);
}


select {

  /* font-size: 16px; */
  /* border: 1px solid #CCC; */
  /* height: 50px; */
  /* -webkit-appearance: none; */
  /* -moz-appearance: none; */
  /* appearance: none;  */
  /* background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) 96% / 15% no-repeat #EEE; */
  /* background: url(../img/down_arrow.png) 96% / 15% no-repeat #EEE; */
  /* background: url(../img/arrow-.png) 96% / 15% no-repeat #EEE; */
}



.form-control.m-form-control.border-none {
  padding-right: 31px;
  /* color: white; */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #6e7780;
  background-color: #0099CC;
  border-color: #dee2e6 #dee2e6 #fff;
}

.form-control:focus {
  border-color: #00ccff;
  box-shadow: none;
  background-color: transparent !important;
}

.input-group-text {
  background: #00ccff;
  width: 120px;

}

.input-group-text i {
  color: white;
  margin: 0 auto;
}


.custom-form,
.search-btn {
  border-radius: 0px;
}


/* Custom select */

/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}


/* Category  */
.bank-category-tab {
  border-bottom: none;
}


.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
  color: #f9f9f9;
  background-color: #00ccff;
  border-color: transparent;
  border-radius: 0px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #f1f5f7;
  border-bottom: 1px solid #00ccff !important;
  border-top: 1px solid #00ccff !important;
  border-left: 1px solid #00ccff !important;

}


.tab-container {

  padding-right: 0px;
  padding-left: 0px;

}

.text-center.bank-category-image {
  padding-top: 20px;
  padding-bottom: 20PX;
}

.section-bank-category {
  margin-bottom: 70px;
}

.btn-load-more {
  background-color: #00ccff;
  border-radius: 0px !important;
}


/* State  */

.state-box {
  height: 80px;
  margin: 10px;
}


.location-icon {
  float: left;
  padding-top: 30px;
  padding-right: 5px;
}

.location-icon i {
  font-size: 30px;
  padding-left: 15px;
  padding-top: 32px;
  float: left;
  text-align: center;
}

.state-head {
  float: left;
  padding-left: 10px;
  color: #00CCFF;
}

.state-para {
  font-size: 14px;
  float: right;

}


/* --- */
.flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}





.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: .5rem;
}

@media (max-width:991.98px) {
  .padding {
    padding: 1rem
  }
}

@media (max-width:767.98px) {
  .padding {
    padding: 1rem
  }
}



.block {
  background: #fff;
  border-width: 0;
  border-radius: .25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
  margin-bottom: 1.5rem
}

.avatar {
  position: relative;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: 700;
  border-radius: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 500px;
  box-shadow: 0 5px 10px 0 rgba(50, 50, 50, .15)
}

.avatar img {
  border-radius: inherit;
  width: 100%
}

.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important
}

.w-56 {
  width: 30px !important;
  height: 30px !important
}

.gd-success {
  color: #fff;
  border: none;
  background: #10cdd7 linear-gradient(45deg, #15b5bd, #13d2db);
}


/* Blog Slider */


.btn.btn-primary.mb-3,
.btn.btn-primary.mb-3.mr-1 {
  background: #11bee6;
  border: 0px;
}

/* Newsletter */


.home-newsletter {
  padding: 80px 0;
  background: url(../img/news_bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right top;
  background-position: center;

  font-family: initial;

}

.home-newsletter .single {
  max-width: 650px;
  margin: 0 auto;
  /* text-align: center; */
  position: relative;
  z-index: 2;
}

.home-newsletter .single h2 {
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 40px;
}


.news-top-heading {
  color: #38caee;
  background: #333030;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  opacity: 80%;
  font-size: 25px;
  font-weight: bolder;
}


.new-text {
  padding-top: 30px;
  color: white;

}




.home-newsletter .single .form-control {
  height: 50px;
  background: transparent;
  border-color: transparent;
  /* border-radius: 20px 0 0 20px; */
  border: 2px solid #00ccff;
}


.home-newsletter .single .form-control:focus {
  box-shadow: none;
  border-color: #00ccff;
}

.home-newsletter .single .btn {
  min-height: 50px;
  border-radius: 0px;
  background: #00ccff;
  color: #fff;
}



.form-control.news-form {
  border-radius: 0px;
  background: transparent;
}




.form-control.news-form::placeholder {
  color: #f6f9fb;
  opacity: 1;
  text-decoration: none;
}

/* Bank pfoile */
/* Adv */

.fa.fa-user.bank-profile-icon {
  font-size: 55px;
  float: left;
  color: #00CCFF;

}

.bank-title {
  padding-left: 70px;
  padding-top: 5px;
  color: #00CCFF;
}

.row.border.d-flex.justify-content-center {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bank-info {

    margin-top: 45px;
    margin-bottom: 45px;

}
.bank-contact i{
  color: #00CCFF;
}

.contact-info {

  padding-left: 20px;
}


.bank-pro-line {
  border: 2px solid red;
  margin-left: 90px;
  margin-bottom: 30px;
}


.text-uppercase.mb-0.big-footer-heading {
  color: #00ccff;
  padding-bottom: 5px;
}
