@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 100px) {}

@media only screen and (min-width: 980px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 500px) {
  .btn.btn-info.mt-4 {
    margin-bottom: 10px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
}
.col {
  margin-bottom: 10px;
}
.section-bank-category {
  margin-bottom: 33px;
}
}

@media only screen and (min-width: 450px) {
  .btn.btn-info.mt-4 {
    margin-bottom: 10px;
  }

  .col {
    margin-bottom: 10px;
  }
  .section-bank-category {
    margin-bottom: 33px;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

}

@media only screen and (min-width: 400px) {
  .btn.btn-info.mt-4 {
    margin-bottom: 10px;
  }

  .form-control.m-form-control.border-none {
    padding-right: 31px;
    color: #393333;
  }

  .col {
    margin-bottom: 10px;
  }

  .section-bank-category {
    margin-bottom: 30px;
  }

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
}
}

@media only screen and (min-width: 300px) {

  /* Here is oky */
  .btn.btn-info.mt-4 {
    margin-bottom: 10px;
  }

  .tab-ul-bg {
    background: #12c5f1;
    border: 1px solid #05647c;
  }

  .col {
    margin-bottom: 10px;
  }

  .card-body {
    margin-bottom: 20px;
  }

  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section-bank-category {
    margin-bottom: 10px;
  }
}
